<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="#!/my-profile" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand headerColor">User Operations</span>
            <p class="navbar-text pull-right">
                <a  class="navbar-link">

                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid adminUsersPadding">
    <div class="container-fluid">
    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <input type="text" class="form-control" placeholder="Enter Username" ng-model="model.username">
        </div>
        <div class="col-xs-12 col-md-3">
            <input type="password" class="form-control" placeholder="Enter Password" ng-model="model.password">
        </div>
        <div class="col-xs-12 col-md-3">
            <select ng-model="model.role" class="form-control">
                <option value="">Select Role</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-3">
            <a class="btn btn-block btn-primary addYellow" ng-click="model.createUser(model.username,model.password,model.role)">Create User</a>
        </div>
</div>

<div ng-if="model.displayParticularUser">
    <div class="row">
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="model.user.username">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="model.user.firstname">
        </div>
        <div class="col-xs-3">
            <select ng-model="model.user.role" class="form-control">
                <option value="">Select Role</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-primary form-control" ng-click="model.updateUser(model.user._id,model.user)">Update</a>
        </div>
    </div>



</div>
<div >
    <h3>User Details</h3>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in model.users">
            <td>{{v.username}}</td>
            <td>{{v.firstname}}</td>
            <td>{{v.lastname}}</td>
            <td>{{v.role}}</td>
            <td><a ng-click="model.deleteUser(v._id)">
                <span class="glyphicon glyphicon-trash glyphiconBlack">
          </span></a></td>
            <td><a ng-click="model.displayUser(v._id)"><span class="glyphicon glyphicon-pencil glyphiconBlack">
          </span></a></td>
        </tr>
        </tbody>
    </table>
</div>
    </div>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
        <div class="container-fluid">
            <div class="navbar-header header-width">
                <p class="navbar-text pull-right">
                    <a href="" class="navbar-link">
                    <span ng-click="model.logout()" class="glyphicon glyphicon-off headerColor">
                    </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>