<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
            <span class="navbar-brand">Operations</span>
            <p class="navbar-text pull-right">
                <a  class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <a class="btn btn-block btn-danger" href="#!/admin/users">Users</a>
            <a class="btn btn-block btn-danger" href="#!/admin/restaurants">Restaurants</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>