<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="#!/login" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand headerColor">Search Results</span>
            <p class="navbar-text pull-right">
                <a  class="navbar-link">

                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid restaurantListPadding">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-10 searchPadding">
                    <input type="text" ng-model="locationText" auto-populate-places="searchText" class="form-control">
                </div>
                <div class="col-xs-2 searchBtnPadding">
                    <a class="btn btn-primary float-left addYellow" ng-click="model.searchBasedOnLocation(searchText)">
                        <span class="addYellow"><span class="glyphicon glyphicon-search"></span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
<div class="" ng-repeat="restaurant in model.resta">
<div class="panel panel-default">
    <div class="panel-heading panelColor">
        <div class="pull-right label label-danger ratingSize">{{restaurant.user_rating.aggregate_rating}}/5</div>
        <div class="pull-right votesSize"><b>{{restaurant.user_rating.votes}}</b> votes</div>
        <h4>
            <a class="panelText" href="#!/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="clearfix">
            <img src="./images/default-food.jpg"
                 alt="My Image"
                 class="img-responsive img-rounded pull-left gap-right img-width"/>
            <p class="float-left">
            <div><b>Average cost for 2:</b> {{restaurant.average_cost_for_two}}</div>
            <div><b>cuisines:</b><span class="label label-default">{{restaurant.cuisines}}</span></div>
            <div><b>Locality:</b> {{restaurant.location.locality_verbose}}</div>
            </p>
        </div>
    </div>
</div>
</div>
    </div>
</div>
<!--div class="orders">
    <div class="container">
        <div class="order-top" ng-repeat="restaurant in model.resta">
            <li class="im-g">
                <a href="#">
                    <img ng-src="{{restaurant.featured_image}}" class="img-responsive" alt="">
                </a>
            </li>
            <li class="data"><a href="#!/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
                <h5><span class="label label-default">{{restaurant.cuisines}}</span></h5>
            </li>
            <li class="bt-nn">
                <a class="morebtn hvr-rectangle-in" href="#!/restaurant/{{restaurant.id}}">Explore</a>
            </li>
            <div class="clearfix"></div>
        </div>
    </div>
</div-->
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link headerColor">
                </a>
            </p>
        </div>
    </div>
</nav>