<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="#!/{{model.restaurant.location.latitude}}/restaurant/{{model.restaurant.location.longitude}}" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand headerColor">Details</span>
            <p class="navbar-text pull-right">
                <a href="#!/my-profile" ng-show="model.userId" class="navbar-link">
                    <span class="glyphicon glyphicon-user addYellow"></span>
                </a>
                <a ng-hide="model.userId" class="navbar-link headerColor paddingRightHeader" href="#!/login">Login</a>
                <a ng-hide="model.userId" class="navbar-link headerColor" href="#!/register">Register</a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid restaurantDetailsPadding">
<div class="container-fluid">

    <!-- Portfolio Item Heading -->


    <!-- Portfolio Item Row -->
    <div class="well panelRemoveColor">
    <div class="row">
        <div class="col-md-8">
            <h1 >{{model.restaurant.name}}
                </h1>
            <div class="labelPadding">
                 <small class="label label-danger ratingSize">{{model.restaurant.cuisine}}</small>
                 <span class="label label-success ratingSize">{{model.restaurant.user_rating.aggregate_rating}}/5</span>
                 <span class="votes label label-success ratingSize">{{model.restaurant.user_rating.votes}} votes</span>

            </div>
            <div>
                <small>
                    <a ng-show="model.userId" ng-if="model.isNotFavorite" class="btn btn-danger" ng-click="model.addToFavorites()"><span class="glyphicon glyphicon-thumbs-up votesSize"></span>Add to Favorites</a>
                    <a ng-show="model.userId" ng-if="!model.isNotFavorite" class="btn btn-danger" ng-click="model.removeFavorite()"><span class="glyphicon glyphicon-thumbs-down votesSize"></span>Remove From Favorites</a>
                </small>
            </div>
            <h3>Address</h3>
            <div class="labelPadding">{{model.restaurant.location.address}}</div>
            <div class="btn-group btn-group-justified btnGroupPadding">
                <a href="{{model.restaurant.url}}" class="btn btn-block btn-default btnGroupStyling removeRight"><span class="glyphicon glyphicon-tasks votesSize"></span>Go to Website</a>
                <a href="{{model.restaurant.menu_url}}" class="btn btn-block btn-default btnGroupStyling removeRight"><span class="glyphicon glyphicon-cutlery votesSize"></span>Get Menu</a>
                <a href="{{model.restaurant.photos_url}}" class="btn btn-block btn-default btnGroupStyling"><span class="glyphicon glyphicon-camera votesSize"></span>Get Photos</a>
            </div>

        </div>
        <div class="col-md-4">
            <ng-map center="{{model.restaurant.location.address}}">
                <marker position="{{model.restaurant.location.address}}"></marker>
            </ng-map>
        </div>
    </div>
    </div>

    <div class="well" ng-show="model.restaurantApiReviews.review.length>0">
        <h3 class="my-3">Top Comments</h3>
        <div ng-repeat="reviewApi in model.restaurantApiReviews">
            <p><i>{{reviewApi.review.review_text}}</i></p>
            <hr>
        </div>
    </div>
<div ng-show="model.userId">
    <div ng-show="model.rateReviews.length>0">
        <div class="well panelRemoveColor">
            <div class="labelPadding"><h4>Reviews given by website users</h4></div>
        <div ng-repeat="mm in model.rateReviews">
            <a href="#!/user/{{mm.userId}}" class="panelText"><span class="glyphicon glyphicon-user votesSize"></span>{{mm.username}}</a>
                <span class="label label-success ratingSizeInReviews">{{mm.rating}}/5</span>
            <h5><i>{{mm.review}}</i></h5>
            <hr>
         </div>
    </div>
</div>
</div>
<div ng-show="model.userId">
    <div class="well" ng-show="model.showReview">
        <form class="form-horizontal" role="form">
            <h4>Write a review</h4>
            <div class="form-group review-styling">
                <label for="rating">Rating(scale 0 to 5)</label>
                <input class="form-control" type="number" id="rating" ng-model="model.rating" max="5" min="0">
                <label for="review">Review</label>
                <textarea class="form-control" ng-model="model.review" rows="3" id="review" placeholder="Help other foodies by sharing your review"></textarea>
                <a ng-click="model.submitRatingAndReview()" class="btn btn-primary pull-left morebtn" type="button">Add your review</a>
            </div>

        </form>
    </div>

    <!--label for="rating">Rating(scale 0 to 5)</label>
    <input type="number" id="rating" ng-model="model.rating" max="5" min="0">
    <label for="review">Review</label>
    <textarea ng-model="model.review" rows="3" id="review"></textarea>
    <a ng-click="model.submitRatingAndReview()">Submit</a-->
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span ng-click="model.logout()" ng-show="model.userId" class="glyphicon glyphicon-off headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>