<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="#!/my-profile" ng-show="model.user._id" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <a href="#!/" ng-hide="model.user._id" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand headerColor">Results</span>
            <p class="navbar-text pull-right">
                <a href="#!/my-profile" ng-show="model.user._id" class="navbar-link">
                    <span class="glyphicon glyphicon-user addYellow"></span>
                </a>
                <a ng-hide="model.user._id" class="navbar-link headerColor paddingRightHeader" href="#!/login">Login</a>
                <a ng-hide="model.user._id" class="navbar-link headerColor" href="#!/register">Register</a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid restaurantListPadding restListBackground">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="row searchPadding">
                    <div class="container-fluid">
                        <div class="container-fluid">
                            <div class="container-fluid">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="locationText" auto-populate-places="searchText">
                        <span class="input-group-addon addYellow">
                            <a ng-click="model.searchBasedOnLocation(searchText)">
                                 <span class="glyphicon glyphicon-search addYellow">
                                 </span>
                            </a>
                        </span>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
<div class="" ng-repeat="restaurant in model.resta">
<div class="panel panel-default">
    <div class="panel-heading panelColor">
        <div class="pull-right label label-danger ratingSize"><span class="wraping">{{restaurant.user_rating.aggregate_rating}}/5</span></div>
        <div class="pull-right votesSize"><b class="wraping">{{restaurant.user_rating.votes}}</b><span class="wraping"> votes</span></div>
        <h4>
            <a class="panelText" href="#!/restaurant/{{restaurant.id}}"><span class="wraping">{{restaurant.name}}</span></a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="clearfix">
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <img src="./images/default-food.jpg"
                         alt="My Image"
                         class="img-responsive img-rounded pull-left gap-right img-width"/>
                </div>
                <div class="col-xs-12 col-md-10">
                    <p class="float-left">
                    <div><b class="wraping">Cost for 2:</b><span class="wraping"> {{restaurant.average_cost_for_two}}</span></div>
                    <div><b class="wraping">cuisines:</b><span class="label label-default wraping">{{restaurant.cuisines}}</span></div>
                    <div><b class="wraping">Locality:</b><span class="wraping">{{restaurant.location.locality_verbose}}</span></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
</div>
<!--div class="orders">
    <div class="container">
        <div class="order-top" ng-repeat="restaurant in model.resta">
            <li class="im-g">
                <a href="#">
                    <img ng-src="{{restaurant.featured_image}}" class="img-responsive" alt="">
                </a>
            </li>
            <li class="data"><a href="#!/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
                <h5><span class="label label-default">{{restaurant.cuisines}}</span></h5>
            </li>
            <li class="bt-nn">
                <a class="morebtn hvr-rectangle-in" href="#!/restaurant/{{restaurant.id}}">Explore</a>
            </li>
            <div class="clearfix"></div>
        </div>
    </div>
</div-->
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span ng-click="model.logout()" ng-show="model.user._id" class="glyphicon glyphicon-off headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>