<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="#!/{{model.restaurant.location.latitude}}/restaurant/{{model.restaurant.location.longitude}}" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand headerColor">Details</span>
            <p class="navbar-text pull-right">
                <a href="#!/my-profile" ng-show="model.userId" class="navbar-link">
                    <span class="glyphicon glyphicon-user addYellow"></span>
                </a>
                <a ng-hide="model.userId" class="navbar-link headerColor" href="#!/login">Login</a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid restaurantDetailsPadding">
<div class="container-fluid">
    <div class="well panelRemoveColor">
    <div class="row">
        <div class="col-md-8">
            <h1 class="wraping">{{model.restaurant.name}}
                </h1>
            <div class="labelPadding">
                 <small class="label label-danger ratingSize wraping">{{model.restaurant.cuisine}}</small>
                 <span class="label label-success ratingSize wraping">{{model.restaurant.user_rating.aggregate_rating}}/5</span>
                 <span class="votes label label-success ratingSize wraping">{{model.restaurant.user_rating.votes}} votes</span>

            </div>
            <div>
                <small>
                    <a ng-show="model.userId" ng-if="model.isNotFavorite" class="btn btn-danger" ng-click="model.addToFavorites()"><span class="glyphicon glyphicon-thumbs-up votesSize"></span><span class="wraping">Add to Favorites</span></a>
                    <a ng-show="model.userId" ng-if="!model.isNotFavorite" class="btn btn-danger" ng-click="model.removeFavorite()"><span class="glyphicon glyphicon-thumbs-down votesSize"></span><span class="wraping">Remove From Favorites</span></a>
                </small>
            </div>
            <h3 class="wraping">Address</h3>
            <div class="labelPadding"><span class="wraping">{{model.restaurant.location.address}}</span></div>
            <div class="btn-group btn-group-justified btnGroupPadding">
                <a href="{{model.restaurant.url}}" class="btn btn-block btn-default btnGroupStyling removeRight"><span class="glyphicon glyphicon-tasks votesSize"></span>Go to Website</a>
                <a href="{{model.restaurant.menu_url}}" class="btn btn-block btn-default btnGroupStyling removeRight"><span class="glyphicon glyphicon-cutlery votesSize"></span>Get Menu</a>
                <a href="{{model.restaurant.photos_url}}" class="btn btn-block btn-default btnGroupStyling"><span class="glyphicon glyphicon-camera votesSize"></span>Get Photos</a>
            </div>

        </div>
        <div class="col-md-4">
            <ng-map center="{{model.restaurant.location.address}}">
                <marker position="{{model.restaurant.location.address}}"></marker>
            </ng-map>
        </div>
    </div>
    </div>

    <div class="well" ng-show="model.restaurantApiReviews.review.length>0">
        <h3 class="wraping">Top Comments</h3>
        <div ng-repeat="reviewApi in model.restaurantApiReviews">
            <p><i><span class="wraping">{{reviewApi.review.review_text}}</span></i></p>
            <hr>
        </div>
    </div>
<div ng-show="model.userId">
    <div ng-show="model.rateReviews.length>0">
        <div class="well panelRemoveColor">
            <div class="labelPadding"><h4 class="wraping">Reviews given by website users</h4></div>
        <div ng-repeat="mm in model.rateReviews">
            <a href="#!/user/{{mm.userId}}" class="panelText"><span class="glyphicon glyphicon-user votesSize"></span><span class="wraping">{{mm.username}}</span></a>
                <span class="label label-success ratingSizeInReviews wraping">{{mm.rating}}/5</span>
            <h5><i><span class="wraping">{{mm.review}}</span></i></h5>
            <hr>
         </div>
    </div>
</div>
</div>
<div ng-show="model.userId">
    <div class="well" ng-show="model.showReview">
        <form name="ReviewForm" class="form-horizontal" role="form" novalidate>
            <h4>Write a review</h4>
            <div class="form-group review-styling">
                <label for="rating">Rating(scale 0 to 5)</label>
                <input class="form-control"
                       type="number"
                       id="rating"
                       ng-model="model.rating"
                       name="rating"
                       max="5"
                       min="0" required>
                <div ng-show="ReviewForm.rating.$invalid && ReviewForm.$submitted"
                     class="alert alert-danger">Rating is required</div>
                <label for="review">Review</label>
                <textarea class="form-control"
                          ng-model="model.review"
                          rows="3"
                          id="review"
                          name="review"
                          placeholder="Help other foodies by sharing your review" required>
                </textarea>
                <div ng-show="ReviewForm.review.$invalid && ReviewForm.$submitted"
                     class="alert alert-danger">Review is required</div>
                <input type="submit" value="Add a Review" ng-click="model.submitRatingAndReview()" class="btn btn-primary pull-left morebtn"></input>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span ng-click="model.logout()" ng-show="model.userId" class="glyphicon glyphicon-off headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>