<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <a href="#!/critic/{{model.userId}}" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand navbarHeading">
                New Finding
            </span>
            <p class="navbar-text pull-right">
                <a href="#!/my-profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid adminReviewsPadding">
    <div class="container-fluid">
        <form name="creatFindingForm" novalidate>
            <div class="input-group bottomMargin">
                <input type="text"
                       class="form-control"
                       name="locationName"
                       ng-model="locationText"
                       auto-populate-places="searchText"
                       required>

                <span class="input-group-addon addYellow">
                    <a ng-click="model.searchBasedOnLocation(searchText)">
                        <span class="glyphicon glyphicon-search addYellow">
                        </span>
                    </a>
                 </span>
            </div>
            <div ng-show="creatFindingForm.locationName.$invalid && creatFindingForm.$submitted"
                 class="alert alert-danger">Please select a location</div>

            <label for="repeatSelect">Select restaurant</label>

            <select name="repeatSelect"
                    class="form-control"
                    id="repeatSelect"
                    ng-model="model.critic.restName"
                    name="restaurantName"
                    required>
                <option class="form-control" value="">Select Restaurant</option>
                <option class="form-control" ng-repeat="i in model.resta" value="{{i.name}}">{{i.name}}</option>
            </select>
            <div ng-show="creatFindingForm.restaurantName.$invalid && creatFindingForm.$submitted"
                 class="alert alert-danger">Please select a restaurant</div>

        <label for="finding">Finding</label>
        <textarea rows="3"
                  id="finding"
                  class="form-control"
                  ng-model="model.critic.finding"
                  name="findingText"
                  required></textarea>
            <div ng-show="creatFindingForm.findingText.$invalid && creatFindingForm.$submitted"
                 class="alert alert-danger">Please write down your findings</div>

        <input type="submit"
               value="Submit finding"
               class="btn btn-primary addYellow form-control"
               ng-click="model.submitFinding(model.critic)">
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span ng-click="model.logout()" class="glyphicon glyphicon-off headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
