<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <span class="navbar-brand">
                Login
            </span>
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <label for="username">Username</label>
        <input type="text"
               id="username"
               ng-model="username"
               class="form-control">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               ng-model="password"
               class="form-control">
        <a class="btn btn-block btn-primary" ng-click="model.login(username,password)">Login</a>
        <a class="btn btn-block btn-primary" href="#!/register">Register</a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>