<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="#!/login" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand headerColor">User Profile</span>
            <p class="navbar-text pull-right">
                <a  class="navbar-link">

                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid adminReviewsPadding">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-10 searchPadding">
                    <input type="text" ng-model="locationText" auto-populate-places="searchText" class="form-control">
                </div>
                <div class="col-xs-2 searchBtnPadding">
                    <a class="btn btn-primary float-left addYellow" ng-click="model.searchBasedOnLocation(searchText)">
                        <span class="addYellow"><span class="glyphicon glyphicon-search"></span></span>
                    </a>
                </div>
            </div>
    </div>
    </div>

    <div class="container-fluid">

        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="pill" href data-target="#Reviews">Reviews</a></li>
            <li><a data-toggle="pill" href data-target="#Follows">Follows</a></li>
            <li><a data-toggle="pill" href data-target="#Favorites">Favorites</a></li>
        </ul>

        <div class="tab-content">
            <div id="Reviews" class="tab-pane fade in active">
                <h3 ng-show="model.user.rateAndReviewRestaurant.length<1">No reviews have been given by you</h3>
                <div ng-show="model.user.rateAndReviewRestaurant.length>0">
                    <div class="well panelRemoveColor">
                        <div ng-repeat="i in model.user.rateAndReviewRestaurant">
                            <a href="#!/restaurant/{{i.restId}}" class="panelText"><span class="glyphicon glyphicon-glass votesSize"></span>{{i.restName}}</a>
                            <span class="label label-success ratingSizeInReviews">{{i.rating}}/5</span>
                            <h5><i>{{i.review}}</i></h5>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Follows" class="tab-pane fade">
                <div class="well panelRemoveColor">
                <h3 ng-show="model.followsArray.length<1">You have not followed any user</h3>
                <div ng-show="model.followsArray.length>0">
                       <div ng-repeat="i in model.followsArray">
                            <a href="#!/user/{{i.id}}" class="panelText"><span class="glyphicon glyphicon-user votesSize"></span>{{i.username}}</a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Favorites" class="tab-pane fade">
                <div class="well panelRemoveColor">
                <h3 ng-show="model.favRestArray.length<1">User has not added any favorites yet</h3>
                    <div ng-show="model.favRestArray.length>0">
                        <div ng-repeat="i in model.favRestArray">
                            <a href="#!/restaurant/{{i.id}}" class="panelText"><span class="glyphicon glyphicon-user votesSize"></span>{{i.name}}</a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ><a href="#!/profile">Edit Profile</a></div>
    <a ng-show="model.user.role === 'Admin'" class="btn btn-primary bottomMargin form-control" href="#!/admin">Admin Operations</a>
</div>







    <!--<div class="container-fluid">-->
    <!--<h3>{{model.user.username}}</h3>-->
        <!--<span>-->
        <!--<a class="btn btn-danger" ng-show="model.loggedInId" ng-if="model.unFollow" ng-click="model.followUser()"><span class="fa fa-smile-o votesSize"></span>Follow</a>-->
        <!--<a class="btn btn-danger" ng-show="model.loggedInId" ng-if="!model.unFollow" ng-click="model.unFollowUser()"><span class="fa fa-frown-o votesSize"></span>UnFollow</a>-->
        <!--</span>-->
        <!--<div>-->
        <!--<h3>favorites</h3>-->
        <!--<ul ng-repeat="i in model.user.favorites">-->
            <!--<li>{{i}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div>-->
        <!--<h3>follows</h3>-->
        <!--<ul ng-repeat="i in model.followsArray">-->
            <!--<li><a href="#!/user/{{i.id}}">{{i.username}}</a></li>-->
        <!--</ul>-->
    <!--</div>-->

        <!--<div ng-repeat="i in model.user.rateAndReviewRestaurant">-->
            <!--<a href="#!/restaurant/{{i.restId}}">{{i.restName}}</a>-->
            <!--<h5>{{i.review}}</h5>-->
            <!--<h5>{{i.rating}}</h5>-->
        <!--</div>-->
<!--</div>-->
</div>
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span ng-click="model.logout()" class="glyphicon glyphicon-off headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>