<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header noArrow">
            <span class="navbar-brand headerColor">Profile</span>
            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-pencil addYellow"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid myProfilePadding myProfileBackground">
    <div class="container-fluid row">
<div class="container-fluid">
                        <div class="col-md-2"></div>
                        <div class="col-xs-12 col-md-8">
                            <div class="row searchPadding">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="locationText" auto-populate-places="searchText">
                                    <span class="input-group-addon addYellow">
                            <a ng-click="model.searchBasedOnLocation(searchText)">
                                 <span class="glyphicon glyphicon-search addYellow">
                                 </span>
                            </a>
                        </span>
                <!--<div class="col-xs-10 searchPadding">-->
                    <!--<input type="text" ng-model="locationText" auto-populate-places="searchText" class="form-control">-->
                <!--</div>-->
                <!--<div class="col-xs-2 searchBtnPadding">-->
                    <!--<a class="btn btn-primary float-left addYellow" ng-click="model.searchBasedOnLocation(searchText)">-->
                        <!--<span class="addYellow"><span class="glyphicon glyphicon-search"></span></span>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
    </div>
    </div>
</div>
    </div>


<div class="container-fluid" ng-show="model.user.role === 'Admin'">
    <div>
        <a class="btn btn-block btn-primary addYellow" href="#!/admin/users">Manage Users</a>
        <a class="btn btn-block btn-primary addYellow bottomMargin" href="#!/admin/restaurants">Manage Restaurants</a>
        <a class="btn btn-block btn-primary addYellow bottomMargin" href="#!/admin/critics">Manage critics</a>
    </div>
</div>
    <div class="container-fluid bottomMargin" ng-show="model.user.role === 'Critic'">
        <div>
            <a class="btn btn-block btn-primary addYellow" href="#!/critic">Add Findings</a>
            <a class="btn btn-block btn-primary addYellow bottomMargin" href="#!/critic/{{model.loggedInId}}">View All findings</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="well container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a class="panelText" data-toggle="pill" href data-target="#Reviews"><span class="wraping"><i class="fa fa-signal votesSize fontIcon wraping" aria-hidden="true"></i><span class="wraping">My Reviews</span></span></a></li>
            <li><a class="panelText" data-toggle="pill" href data-target="#Follows"><span class="wraping"><i class="fa fa-thumbs-up votesSize fontIcon wraping" aria-hidden="true"></i><span class="wraping">Following</span></span></a></li>
            <li><a class="panelText" data-toggle="pill" href data-target="#Favorites"><span class="wraping"><i class="fa fa-heart votesSize fontIcon wraping" aria-hidden="true"></i><span class="wraping">My favorites</span></span></a></li>
        </ul>

        <div class="tab-content ">
            <div id="Reviews" class="tab-pane fade in active">
                <div class="well panelRemoveColor wellPadding">
                <h4 ng-show="model.user.rateAndReviewRestaurant.length<1" class="wraping">No reviews have been given by you</h4>
                <div ng-show="model.user.rateAndReviewRestaurant.length>0">
                    <div class="well panelRemoveColor">
                        <div ng-repeat="i in model.user.rateAndReviewRestaurant">
                            <span class="wraping"><a href="#!/restaurant/{{i.restId}}" class="panelText"><span class="glyphicon glyphicon-glass votesSize"></span><span class="wraping">{{i.restName}}</span></a>
                                <span class="label label-success ratingSizeInReviews">{{i.rating}}/5</span></span>
                            <h5><i class="wraping">{{i.review}}</i></h5>
                            <hr>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div id="Follows" class="tab-pane fade">
                <div class="well panelRemoveColor">
                <h4 ng-show="model.followsArray.length<1" class="wraping">You have not followed any user yet.</h4>
                <div ng-show="model.followsArray.length>0">
                       <div ng-repeat="i in model.followsArray">
                           <span class="wraping"><a href="#!/user/{{i.id}}" class="panelText"><span class="glyphicon glyphicon-user wraping votesSize"></span>{{i.username}}</a></span>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Favorites" class="tab-pane fade">
                <div class="well panelRemoveColor">
                <h4 ng-show="model.favRestArray.length<1" class="wraping">User has not added any favorites yet</h4>
                    <div ng-show="model.favRestArray.length>0">
                        <div ng-repeat="i in model.favRestArray">
                            <span class="wraping"><a href="#!/restaurant/{{i.id}}" class="panelText"><span class="glyphicon glyphicon-glass wraping votesSize"></span><span class="wraping">{{i.name}}</span></a></span>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>








    <!--<div class="container-fluid">-->
    <!--<h3>{{model.user.username}}</h3>-->
        <!--<span>-->
        <!--<a class="btn btn-danger" ng-show="model.loggedInId" ng-if="model.unFollow" ng-click="model.followUser()"><span class="fa fa-smile-o votesSize"></span>Follow</a>-->
        <!--<a class="btn btn-danger" ng-show="model.loggedInId" ng-if="!model.unFollow" ng-click="model.unFollowUser()"><span class="fa fa-frown-o votesSize"></span>UnFollow</a>-->
        <!--</span>-->
        <!--<div>-->
        <!--<h3>favorites</h3>-->
        <!--<ul ng-repeat="i in model.user.favorites">-->
            <!--<li>{{i}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div>-->
        <!--<h3>follows</h3>-->
        <!--<ul ng-repeat="i in model.followsArray">-->
            <!--<li><a href="#!/user/{{i.id}}">{{i.username}}</a></li>-->
        <!--</ul>-->
    <!--</div>-->

        <!--<div ng-repeat="i in model.user.rateAndReviewRestaurant">-->
            <!--<a href="#!/restaurant/{{i.restId}}">{{i.restName}}</a>-->
            <!--<h5>{{i.review}}</h5>-->
            <!--<h5>{{i.rating}}</h5>-->
        <!--</div>-->
<!--</div>-->
</div>
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span ng-click="model.logout()" class="glyphicon glyphicon-off headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>