<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <a href="#!/my-profile" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left headerColor">
          </span>
            </a>
            <span class="navbar-brand navbarHeading">
                Edit Profile
            </span>
            <p class="navbar-text pull-right">
                <a href="#!/" class="navbar-link">
                    <span class="glyphicon glyphicon-home headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid profilePadding">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div class="row ">
            <div class="input-group searchPadding profileSearch">
                <input type="text" class="form-control" ng-model="locationText" auto-populate-places="searchText">
                <span class="input-group-addon">
                            <a ng-click="model.searchBasedOnLocation(searchText)">
                                 <span class="glyphicon glyphicon-search">
                                 </span>
                            </a>
                        </span>
        </div>
        <div ng-show="model.error"
             class="alert alert-danger">{{model.error}}</div>
        <div ng-show="model.message"
             class="alert alert-info">{{model.message}}</div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               ng-model="model.user.username"
               class="form-control"
               id="username"
               placeholder="Username">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email"
               ng-model="model.user.email"
               class="form-control"
               id="email"
               placeholder="alice@wonderland.com">
    </div>
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text"
               ng-model="model.user.firstname"
               class="form-control"
               id="first-name"
               placeholder="Alice">
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text"
               ng-model="model.user.lastname"
               class="form-control"
               id="last-name"
               placeholder="Wonderland">
    </div>

<a ng-click="model.updateUser(model.user)"
   class="btn btn-success btn-block">Update</a>
<a ng-click="model.deleteUser()"
   class="btn btn-danger btn-block bottomMargin">Unregister</a>
<a ng-show="model.user.role === 'Admin'" class="btn btn-primary bottomMargin form-control" href="#!/admin">Admin Operations</a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom headerColor removeTopBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span ng-click="model.logout()" class="glyphicon glyphicon-off headerColor">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>