<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header header-width mobile-header">
            <a href="" class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
            <span class="navbar-brand">Register</span>
            <p class="navbar-text pull-right">
                <a  class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
    <label for="username">Username</label>
    <input type="text"
           class="form-control"
           id="username"
           ng-model="user.username"
           placeholder="AliceWonderland">

    <label for="firstname">First Name</label>
    <input type="text"
           class="form-control"
           id="firstname"
           ng-model="user.firstname"
           placeholder="Alice">

    <label for="lastname">Last Name</label>
    <input type="text"
           class="form-control"
           id="lastname"
           ng-model="user.lastname"
           placeholder="Wonderland">

    <label for="email">Email</label>
    <input type="email"
           class="form-control"
           id="email"
           ng-model="user.email"
           placeholder="alice@gmail.com">

    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           ng-model="user.password"
           placeholder="alice@123">

    <label for="password2">Re-Enter Password</label>
    <input type="password"
           class="form-control"
           id="password2"
           ng-model="user.password2"
           placeholder="alice@123">

    <a class="btn btn-danger btn-block"
       ng-click="model.register(user)">Register</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>