<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navColor">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand headerColor" href="#">ChewIt!</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#!/register" ng-hide="model.user._id" class="navbar-link headerColor"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#!/login" ng-hide="model.user._id" class="navbar-link headerColor"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#!/my-profile" ng-show="model.user._id" class="navbar-link headerColor"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        </ul>
    </div>
</nav>
<ul class="slideshow">
    <li>
        <h3></h3>
        <span></span> </li>
    <li> <span></span> </li>
    <li> <span></span> </li>
    <li> <span></span> </li>
</ul>

<div class="seachBox">
    <div class="input-group searchBar">
        <input type="text" class="form-control" ng-model="locationText" auto-populate-places="searchText">
        <span class="input-group-addon addYellow">
            <a ng-click="model.searchBasedOnLocation(searchText)">
                <span class="glyphicon glyphicon-search addYellow">
                </span>
            </a>
        </span>
    </div>
</div>



