<nav class="navbar navbar-default navbar-fixed-top headerColor">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <span class="navbar-brand">
                Login
            </span>
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<header>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('./images/slideImage1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First Slide</h3>
                    <p>This is a description for the first slide.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('./images/slideImage2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second Slide</h3>
                    <p>This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('./images/slideImage3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>
                </div>
            </div>
        </div>
    </div>
</header>


            <!-- Left and right controls -->
<div class="seachBox">
    <input type="text" ng-model="locationText" auto-populate-places="searchText" class="form-control searchBar">
    <span class="float-left"><a ng-click="model.searchBasedOnLocation(searchText)">search</a></span>
</div>
    <a href="#!/login">Login</a>
    <a href="#!/register">Register</a>


