<nav class="navbar navbar-default navbar-fixed-top headerColor removeBorder">
    <div class="container-fluid">
        <div class="navbar-header header-width">
            <span class="navbar-brand navbarHeading">
                Login
            </span>
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                <span class="navbar-brand navbarHeading">
                    <a href="#!/login">Login</a>
                    <a href="#!/register">Register</a>
                </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<ul class="slideshow">
    <li>
        <h3></h3>
        <span></span> </li>
    <li> <span></span> </li>
    <li> <span></span> </li>
    <li> <span></span> </li>
</ul>


            <!-- Left and right controls -->
<div class="seachBox">
    <input type="text" ng-model="locationText" auto-populate-places="searchText" class="form-control searchBar">
    <span class="float-left"><a ng-click="model.searchBasedOnLocation(searchText)">search</a></span>
</div>



